@font-face {
    font-family:"inter";
    src: url(font/Inter-VariableFont_slnt\,wght.ttf);
}

body{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background-color: black;
    font-family:"inter";
}

#tab-header{
    background-color: black;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -10px;
    z-index: 6;
    transition: 0.75s;
}

#tab{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 30px;
    height: 40px;
    background-color: #1B1B1B;
    height: max-content;
    width: 360px;


    overflow: hidden;
    overflow-x: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  

    ::-webkit-scrollbar {
        display: none;
    }
}

#tab img{
    height: 8px;
}

#tab div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 107px; 
    height: 26px;
    border: 1px solid black;
    flex-shrink: 0;
}


#tab div:nth-child(1){
    border-radius: 30px 0px 0px 30px;
}

#tab div:nth-child(12){
    border-radius: 0px 30px 30px 0px;
}

#tab div:nth-child(1) p{
    color: white;
}

#tab p{
    color: #6A6A6A;
    font-family: "inter";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#continue {
    width: 100px;
    display: flex;
    justify-content: center;
    position: relative;
}

#continue > img{
    position: absolute;
    left: 10px;
}


#phone-header{
    background-color: black;
    border-radius:40px 40px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

#phone-header img{
    width: 80px;
}

#search-header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -15px;
    z-index: 6;
    transition: 0.75s;
}

#search-header > img {
    height: 20px;
    margin-right: 7px;
}

.search > img{
    height: 15px;
    margin-right: 5px;
}

.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 19px;
    background: white;
    width: 285px;
    height: 0px;
    flex-shrink: 0;
}

.search-input {
    font-size: 16px;
    font-family: "inter";
    color: black;
    outline: none;
    border: none;
}

.search-input::placeholder{
    font-size: 10px;
}

.search-input::placeholder{
    opacity: 1;
    color: black;
    font-size: 10px;
}


.search-icon{
    color: rgba(0, 0, 0, alpha);
    margin-left: -5px;
}

#container{
    overflow: hidden;
    border-radius: 40px;
    position: relative;
    height: 865px;
    width: 400px;
    display: grid;
    grid-template-rows: 60px 50px 50px 1fr 50px;
    grid-template-columns: 1fr;
}

#phone-frame{
    width: 440px;
    height: 900px;
    background-image: url('imgs/iphone2.png'); 
    background-size: cover;
    position: absolute;
    z-index: 5;
    
}

footer{
    background-color: #D9D9D9;
    border-radius: 0px 0px 50px 50px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    z-index: 8;
}

footer img{
    height: 18px;
}

#main-content{
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
    position: relative;
    z-index: 6;
    transition: 0.5s;



    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  

    ::-webkit-scrollbar {
        display: none;
    }
}

#main-content > div{
    position: relative;
    display: grid;
    grid-template-rows: 100px 35px;
    border-radius: 20px;
    width: 100%;
    height: 135px;
    background: #101010;
    margin-bottom: 20px;
}

#main-content > div div:nth-child(1){
    display: flex;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}

.titles{
    margin-top: -25px;
}

.titles > p{
    color: white;
    font-weight: 500;
    align-self: normal;
    margin-left: 15px;
    margin-top: 15px;
}

.titles > img{
    height: 18px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.titles > p > img{
    height: 22px;
    margin-bottom: -10px;
}

.genre{
    display: none;
}

.titles :nth-child(4){
    color: gray;
    font-size: 12px;
    font-weight: 400;
    margin-left: 3px;
    position: absolute;
    margin-top: 7px;
    margin-left: 7px;
}

.amp{
    height: 60px;
    padding-left: 15px;
    margin-top: -12px;
}

.icons{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0px;
    padding-bottom: 5px;
}

.icons > div{
    position: relative;
}
.icons p{
    position: absolute;
    margin-top: -22px;
    margin-left: 57px;
    color: white;
    font-size: 14px;
    font-weight: 300;
}

.icons > div > img{
    margin-right: 15px;
}

.icons > div > img:hover{
    cursor: pointer;
}

.icons > div > img:nth-child(2){
    margin-right: 60px;
}

.icons img{
    height: 18px;
}

.icons > img{
    margin-top: -5px;
    margin-left: 45px;
}

.heart{
    height: 13px !important;
    margin-bottom: 3px;
}


#add-tone{
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns: 250px auto;
    visibility: visible;
    height: 235px;
    border-radius: 20px 20px 0px 0px;
    bottom: 0;
    position: absolute;
    background-color: #101010;
    justify-self: center;
    z-index: 7;
    width: 100%;
    transition: 0.75s;
    margin-bottom: -300px;
}


#add-tone > div:nth-child(1) > div{
    display: flex;
    align-items: center;
}

#add-tone > div:nth-child(1) > div span{
    font-size: 17px;
    margin-left: 10px;
    color: white;
}

#add-tone > div:nth-child(1){
    margin: 20px;
}


#add-tone > div:nth-child(2){
    margin: 20px;
    display: grid;
    justify-content: center;
    position: relative;
}

#add-tone > div:nth-child(2) > img:nth-child(1){
    position: relative;
    height: 20px;
    margin-top: 15px;
    margin-left: 80px;
    right: 0;
}

#add-tone > div:nth-child(2) > img:nth-child(1):hover{
    cursor: pointer;
}

#add-tone > div:nth-child(2) > img:nth-child(2){
    height: 70px;
    justify-self: center;
    margin-top: 30px;
}

#add-tone > div:nth-child(2) > button{
    height: 28px;
    width: 110px;
    justify-self: center;
    color: white;
    margin-top: 25px;
    border-radius: 20px;
    border: none;
    padding: 4px;
    font-size: 12px;
    font-weight: 400;
    font-family: "inter";
    cursor: pointer;
    background-color: #E01F22;
}

#add-tone > div:nth-child(1) > button{
    color: #E01F22;
    width: 70px;
    height: 20px;
    margin-left: 6px;
    border-radius: 20px;
    border: none;
    padding: 2px;
    font-size: 10px;
    font-weight: 400;
    font-family: "inter";
    cursor: pointer;
    background-color: white;
}

#first-form{
    margin-top: 18px;
}

#add-tone form > div, #add-tone form > div > input  {
    width: 170px;
}

#add-tone form > div, #add-tone form > div > input  {
    width: 170px;
    font-size: 12px;
}

#add-tone form > div, #add-tone form > div > p  {
    margin-left: 2px;
}

legend{
    color: #E01F22;
    margin-bottom: 5px;
    font-size: 10px;
    margin-top: 10px;
    margin-left: 10px;
}

#add-img{
    height: 35px;
    margin-left: 6px;
}

#select{
    height: 270px;
    width: 250px;
    background-color: white;
    position: absolute;
    align-self: center;
    z-index: 1000;
    justify-self: center;
    border-radius: 20px;
    padding: 20px;
    display: none;
}

#select legend{
    font-size: 20px;
    margin-left: 0px;
    color: black;
}

fieldset div{
    padding-bottom: 7px;
}

fieldset div:nth-child(2){
    padding-top: 3px;
}

#select button{
    margin-top: 0px;
    font-family: "inter";
    background-color: white;
    border: none;
    font-weight: 400;
    cursor: pointer;
    color: #E01F22;
    font-size: 15px;
}

#select button:nth-child(1){
    margin-left: 15px;
    color: black;
}

#select button:nth-child(2){
    margin-right: 15px;
}

#select > div{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

#select div label{
    cursor: pointer;
}


input[type=radio].red {
    accent-color: #E01F22;
}

fieldset{
    border: none;
}

#genre-field{
    cursor: pointer;
}

#confirm-text{
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-self: center;
    width: 309px;
    height: 80px;
    background-color: white;
    position: absolute;
    z-index: 1000;
    bottom: 110px;
    border-radius: 20px;
    visibility: hidden;
}

#confirm-text p {
    text-align: center;
    font-size: 15px;
}
