body{
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    background: #42275a;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #734b6d, #42275a);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #360c30, #42275a); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    font-family:"inter";
}


@font-face {
    font-family:"inter";
    src: url(font/Inter-VariableFont_slnt\,wght.ttf);
}
#tab-header{
    background-color: black;
    display: flex;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -10px;
    z-index: 2;
    
}

#tab{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    border-radius: 30px;
    height: 40px;
    background-color: #1B1B1B;
    width: 100%;
    height: 26px;
}

#tab img{
    height: 8px;
}

#tab div{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 107px;
    height: 26px;
    border: 1px solid black;
}
#tab div:nth-child(4){
    width: 32px;
    border-right: 0px;
    border-radius: 0px 30px 30px 0px;
}

#tab div:nth-child(1){
    border-radius: 30px 0px 0px 30px;
    border: 1px solid #FFF;
    background: #E01F22;
}

#tab div:nth-child(1) p{
    color: white;
}

#tab p{
    color: #6A6A6A;
    font-family: "inter";
    font-size: 10px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

#phone-header{
    background-color: black;
    border-radius:40px 40px 0px 0px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
}

#phone-header img{
    width: 80px;
}

#search-header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: -15px;
    z-index: 2;
}

#search-header img {
    height: 20px;
    margin-right: 7px;
}

.search{
    width: max-content;
    display: flex;
    align-items: center;
    padding: 14px;
    border-radius: 19px;
    background: white;
    width: 285px;
    height: 0px;
    flex-shrink: 0;
}

.search-input {
    font-size: 16px;
    font-family: "inter";
    color: black;
    margin-left: 5px;
    outline: none;
    border: none;
}

.search-input::placeholder{
    font-size: 10px;
}


.search-icon{
    color: rgba(0, 0, 0, alpha);
    margin-left: -5px;
}

#container{
    background-color: red;
    border-radius: 40px;
    position: absolute;
    height: 865px;
    width: 400px;
    display: grid;
    grid-template-rows: 60px 50px 50px 1fr 50px;
    grid-template-columns: 1fr;
}

#phone-frame{
    width: 440px;
    height: 900px;
    background-image: url('imgs/iphone2.png'); 
    background-size: cover;
    position: relative;
    
}

footer{
    background-color: #D9D9D9;
    border-radius: 0px 0px 40px 40px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

footer img{
    height: 18px;
}

#main-content{
    background-color: black;
    padding-left: 15px;
    padding-right: 15px;
    z-index: 2;

    overflow-y: scroll;
    -ms-overflow-style: none; 
    scrollbar-width: none;  

    ::-webkit-scrollbar {
        display: none;
    }
}

#main-content > div{
    position: relative;
    display: grid;
    grid-template-rows: 100px 35px;
    border-radius: 20px;
    width: 100%;
    height: 135px;
    background: #101010;
    margin-bottom: 20px;
}

#main-content > div div:nth-child(1){
    display: flex;
    align-items: center;
    border-radius: 20px 20px 0px 0px;
}

.titles{
    margin-top: -25px;
}

.titles > p{
    color: white;
    font-weight: 500;
    align-self: normal;
    margin-left: 15px;
    margin-top: 5px;
}

.titles > img{
    height: 18px;
    position: absolute;
    right: 15px;
    top: 15px;
}

.titles > p > img{
    height: 20px;
    margin-bottom: -5px;
}

span{
    color: #939393;
    font-size: 12px;
    font-weight: 400;
}

.amp{
    height: 70px;
    padding-left: 20px;
}

.icons{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-right: 0px;
    padding-bottom: 5px;
}

.icons > div{
    position: relative;
}
.icons p{
    position: absolute;
    margin-top: -22px;
    margin-left: 57px;
    color: white;
    font-size: 14px;
    font-weight: 400;
}

.icons > div > img{
    margin-right: 15px;
}

.icons > div > img:nth-child(2){
    margin-right: 60px;
}

.icons img{
    height: 18px;
}

.icons > img{
    margin-top: -5px;
    margin-left: 56px;
}

#heart{
    height: 13px;
    margin-bottom: 3px;
}